<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktt.base.mapper.BaseMapper">

	<!-- [paging] 페이징처리 Header  -->
    <sql id="pagingHeader">
    	SELECT *,
    		   V.rnum 			as "RNUM",
		       V.start_num 		as "startNum",
		       V.end_num 		as "endNum",
		       V.MAX_VIEW_PAGE 	as "maxViewPage",
		       V.PAGE_SIZE 		as "pageCon",
		       V.CUR_PAGE 		as "pageNum",
		       V.TOTAL_CNT 		as "totalCnt"
		  FROM (
		  		SELECT *
		     	  FROM (
		    			SELECT (CASE
		                        	WHEN (TOTAL_CNT%cast(#{pageCon} as numeric)) = 0 THEN TOTAL_CNT/cast(#{pageCon} as numeric)
		                        	ELSE TOTAL_CNT/cast(#{pageCon} as numeric) + 1
		                      	END) MAX_VIEW_PAGE
		    			       ,cast(#{pageCon} as numeric) PAGE_SIZE
		    			       ,cast(#{pageNum} as numeric) CUR_PAGE
		    			       ,Y.*
		       			  FROM (
		              			SELECT (CASE
		                        			WHEN (cast(#{pageCon} as numeric) * (cast(#{pageNum} as numeric) - 1) + 1) &gt; TOTAL_CNT THEN 1
		                        			ELSE (cast(#{pageCon} as numeric) * (cast(#{pageNum} as numeric) - 1) + 1)
		                      			END) START_NUM
		                     		   ,(CASE
		                        			WHEN (cast(#{pageNum} as numeric) * cast(#{pageCon} as numeric)) &gt; TOTAL_CNT THEN TOTAL_CNT
		                        			ELSE (cast(#{pageNum} as numeric) * cast(#{pageCon} as numeric))
		                      			END) END_NUM
		                     		   , X.*
		              			  FROM (SELECT COUNT (*) OVER () TOTAL_CNT, Z.*
		                     			  FROM (
    </sql>


    <!-- [paging] 페이징처리 Footer  -->
    <sql id="pagingFooter">
    		                          		   ) Z
			                   		   ) X
			               	   ) Y
			      	   )W
			     WHERE RNUM &lt;= END_NUM
			   )V
		 WHERE RNUM &gt;= START_NUM
    </sql>


</mapper>




